/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('skull.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header, nav, footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a, a {
    color: white; /* Changed the font color to white for all links */
    text-decoration: none;
    padding: 0 10px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside {
    width: 20%;
    padding: 20px;
    background-color:none;
    color:white;
}

aside ul {
    list-style-type: none;
    padding: 0;
    border-style: double;
    font-weight: bolder;
}

.rightmenu {
    text-align: center;
    padding: 20px;
    width: 20%;
    color: white;
}

.rightmenu img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Styling for About Me section */
#about-me {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#about-me h2 {
    font-size: 24px;
    font-style: italic;
    color:white;
    margin-bottom: 10px;
}

#about-me p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5; 
}

#about-me img {
    width: 100%;
    border-radius: 10px;
}

/* Styling for Information, Achievement, and Contact sections */
#info, #achievement, #contact {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: left;
}

#info h2, #achievement h2, #contact h2 {
    font-family: 'Yu Gothic', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px;
}

#info ul, #achievement ul, #contact ul {
    padding-left: 20px;
}

#info ul li, #achievement ul li, #contact ul li {
    padding: 5px 0;
}

#info ul li a, #achievement ul li a {
    text-decoration: underline;
    margin-left: 20px;
}

.utm {
    width: 275px;
    height: 200px;
    color: green;
    font-style: italic;
    font-weight: bold;
    background-image: url(utm.gif);
    background-repeat: no-repeat;
    text-align: center;
    padding: 5px; 
}
